/* REMOVING THE FOLLOWING LINE WILL BREAK THE STYLING OF THE APPLICATION */
@import '../../global/app.css';

/*
Define custom styles for colors etc. below

E.g. you can uncomment the CSS below to adjust the primary color

5%
9%
14%
*/

:root {
    --c-primary: #0099ff;
    --c-primary-light: #0d9eff;
    --c-primary-lighter: #17a2ff;
    --c-primary-lightest: #24a7ff;
}
